.App {
  text-align: center;
  
}
body {
  background-color: #0F1721;
}
button {
  margin-bottom:20px;
  background-color:#3F454D;
  color:gainsboro;
  padding:10px 20px;
  border:0;
  border-radius:10px;
}
.top {
  display:flex;
  justify-content: center;
}
.headerWrapper {
  color: white;
  font-size:2rem;
}
.Wrapper {
  display:flex;
  flex-direction: row;
  margin:3%;
  height:100vh;
  justify-content: space-around;
}
.events {
  padding:10vh auto 10vh auto;
  max-width:30vw;
  max-height:100vh;
  height:80vh!important;
 
}

.events__event {
  background-color:gainsboro;
  width:100%;
  background-color:orange;
  transition: all 1s;
  padding:2%;
}

.events__event:hover {
background-color:red;;
color:white;
}

.event__description {
  border:1p solid black;
  text-align: left;
  color:gainsboro;
}


#info {
  max-width: 40vw;
  padding:2%;
  margin:2%;
  justify-self: center;
}
.active {
  display:none;
}